/* CSS for Qing Yin's Resume */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex; /* 添加flex布局 */
    flex-direction: column; /* 让内容垂直排列 */
    align-items: center; /* 居中对齐所有内容 */
}

.header {
    text-align: center;
    margin-bottom: 20px; /* 增加标题下方空间以提供更明显的间隔 */
    font-weight: bold; /* 使标题字体粗体 */
}

.section-title {
    font-weight: bold; /* 使用粗体字以突出显示标题 */
    color: #000; /* 字体颜色改为黑色 */
    padding: 10px;
    margin-top: 40px; /* 增加顶部间距以分隔各节 */
    margin-bottom: 20px; /* 增加底部间距以分隔各节 */
    background-color: transparent; /* 移除背景色 */
    width: 70%; /* 标题宽度设为100% */
}

ul {
    padding: 0;
    list-style-type: none; /* 移除列表项的项目符号 */
    width: 70%; /* 列表宽度设置为100% */
}

li {
    margin-bottom: 10px; /* 在列表项下方添加空间，防止重叠 */
    text-align: left; /* 列表项文本对齐方式为左对齐 */
    width: 70%; /* 列表项宽度设为100% */
}
