/* CSS for Qing Yin's Resume */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex; /* 添加flex布局 */
    flex-direction: column; /* 让内容垂直排列 */
    align-items: center; /* 居中对齐所有内容 */
}

.header {
    text-align: center;
    margin-bottom: 20px; /* 确保标题下方有足够空间 */
}

.section-title {
    font-weight: bold; /* 使用黑体字 */
    color: #000; /* 字体颜色改为黑色 */
    padding: 5px;
    margin-top: 20px; /* 确保每个标题之间明确分隔 */
    background-color: transparent; /* 移除背景色 */
    width: 100%; /* 标题宽度设为100% */
}

ul {
    padding: 0;
    list-style-type: none; /* 移除列表项的项目符号 */
    width: 100%; /* 列表宽度设置为100% */
}

li {
    margin-bottom: 10px; /* 在列表项下方添加空间，防止重叠 */
    text-align: left; /* 列表项文本对齐方式为左对齐 */
    width: 100%; /* 列表项宽度设为100% */
}
